<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Due</th>
          <th>Categories</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <label>
                <input type="checkbox" taskid=<%= task.id %> <%= "checked" if task.completed %> id=<%= "#{task.id.to_s}_completion" %> />
                <span></span>
              </label>
            </td>
            <td><%= task.title %></td>
            <td><%= l task.due_date.to_date, format: :short if task.due_date %></td>
            <td>
              <ul>
                <% task.categories.each do |category| %>
                  <li><%= category.name %></li>
                <% end %>
              </ul>
            </td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="fixed-action-btn">
      <%= link_to new_task_path, class: "btn-floating btn-large red" do %>
        <i class="large material-icons">add</i>
      <% end %>
    </div>
  </div>
</div>
