<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
          <th>Completed</th>
          <th>Title</th>
          <th>Due</th>
          <th>Categories</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.completed %></td>
            <td><%= task.title %></td>
            <td><%= l task.due_date.to_date, format: :short if task.due_date %></td>
            <td>
              <ul>
                <% task.categories.each do |category| %>
                  <li><%= category.name %></li>
                <% end %>
              </ul>
            </td>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Task', new_task_path %>
  </div>
</div>
