<div class="container">
  <h1>New task</h1>

  <div class="row">
    <%= form_with scope: :task, url: tasks_path, local: true do |form| %>
      <div class="input-field col s12">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>

      <div class="input-field col s12">
        <%= form.label :text %><br>
        <%= form.text_area :text, :class => 'materialize-textarea' %>
      </div>

      <div class="input-field col s12">
        <%= form.submit :class => 'waves-effect waves-light btn' %>
      </div>
    <% end %>
  </div>
</div>
