<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Due:</strong>
  <td><%= l @task.due_date.to_date, format: :short if @task.due_date %></td>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Categories:</strong>
  <ul>
    <% @task.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
